<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 for(desenvolvedor in data.desenvolvedor)>
            Bem vindo a Casa do Código ${ desenvolvedor.nome } 
         </h1>
        <a href="/livros">listar livros disponiveis</a><br>
        <a href="/livros/adcionar-livro"> adcionar novo livro</a>
    </body> 
</html>