<html>
    <body>
        <h1>Cadastro de livros</h1>

        <form action="/livros" method="post">

             <div if(data.livro.id)>
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" id="id" name="id" value="${data.livro.id}" />
            </div>
            <div>
                <label for="titulo">Titulo:</label><br>
                <input type="text" id="titulo" name="titulo" placeholder="coloque o titulo" value="${ data.livro.titulo }"/>
            </div>
            <div>
                <label for="preco">Preço:</label><br>
                <input type="text" id="preco" name="preco" placeholder="123.45$" value="${ data.livro.preco }"/>
            </div>
            <div>
                <label for="descricao">Descrição:</label><br>
                <textarea cols="20" rows="10"  id="descricao" name="descricao" placeholder="Descrição do livro">${ data.livro.descricao }</textarea>
            </div>

            <input type="submit" value="Salvar" />
        </form>
            <a href="/livros">Voltar</a>
    </body>
</html>